.formulario{
    display: flex;
    flex-direction: column;
    gap:.5rem;
    align-items: flex-start;
    background-color: antiquewhite;
    align-items: anchor-center;
}

.formulario input{
    padding: .5rem;
    width: 18rem;
    border-radius: .5rem;
    border:2px solid black ;
}

.formulario input:focus{
    outline:0;
    border:2px solid var(--clr--main);
    outline:2px solid var(--clr--main);
}


.formulario button{
    outline:0;
    border:2px solid var(--clr--main);
    outline:2px solid var(--clr--main);
    background-color: rgb(190, 115, 22);
}

.agregar-al-carrito, .enviar{
    background-color: var(--clr-main);
    border: 0;
    width: 2rem;
    color: white;
    border-radius: .5rem;  
    cursor: pointer;
    font-size: 1rem;
    align-items: center;
    text-align: center;
    line-height: 1;
    border: 2px solid varvar(--clr-main);
    transition: .2s;
  }

 .item-count button:hover,.agregar-al-carrito:hover,.enviar:hover{
    background-color: white;
    color: black;
 }
 .agregar-al-carrito, .enviar{
    width: auto;
    height: auto;
    margin-top: 1rem;
    padding: 1rem;

 }